body {
        margin: 0px;
        padding: 0px;
}
.content {
        position: fixed;
        margin: 5px 14px;
        padding: 0px;
}
p{
        margin: 0px;
}
a{
        color: black;
        text-decoration: none;
}
.block {
        margin-bottom: 50px;
        padding:0px;
        font-family: arial, sans-serif;
        font-size: 37px;
        line-height: 45px;
}
@media screen and (max-width: 414px) {
        .block-testo {
                margin-bottom: 45px;
                font-size: 34px;
                line-height: 42px;
    }
}
@media screen and (max-width: 375px) {
        .block-testo {
                margin-bottom: 39px;
                font-size: 30px;
                line-height: 38px;
        }
}



