// typeface
@font-face {
	font-family: Arial, Helvetica, sans-serif;
	src: url('../assets/fonts/xxxx.ttf'),
}

// opentype features
.case-sentitive {
	text-transform: uppercase;
	font-feature-settings: 'case' on;
	-moz-font-feature-settings: 'case'; 
	-webkit-font-feature-settings: 'case'; 
}

.standard-ligatures {
	font-variant-ligatures: common-ligatures;
	font-feature-settings: 'liga' on;
	-moz-font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
}

// variables-font
$font-stack: Arial, sans-serif;
$text-size: 22px;
$text-size-mobile: 17px;

// variables-grid
$line-height: 26px; //unit of measure_height
$line-height-mobile: 22px; //unit of measure_height

$max-pagewidth: 2800px;
$max-textwidth: 710px;

$img-padding-desktop: 70px;
$img-padding-mobile: 10px;

// variables-resize
$mobile: 590px;
$tablet: 1024px;

// colors
$text-color: #000000;
$link-color-1: #000000;
$link-color-2: #ffffff;

// root-element
html, body {
	font-family: $font-stack !important;
	font-kerning: normal;
	word-spacing: 0.001em;
	background-color: red !important;

	@media only screen and (max-width: $mobile) {
		height: 100%;
	}

	::-webkit-scrollbar {
        display: none;
    }
}

body {
	margin: auto !important;
	max-width: $max-pagewidth;
	//overflow-x: hidden;
}

h1, p, a, strong {
	font-size: $text-size !important;
	font-weight: normal !important;
	// color: $text-color;
	margin-bottom: 0 !important;
	line-height: $line-height !important;
	display: block;
	// grid
	// box-shadow: inset 0 0 2px #000000;

	@media only screen and (max-width: $mobile) {
		font-size: $text-size-mobile !important;
		line-height: $line-height-mobile !important;
	}
}

a {
	color: $text-color !important;

	&:hover {
		text-decoration: none !important;
		color: $link-color-1 !important;
	}
}

// start-content
#page-container {
	position: relative;

	@media only screen and (max-width: $mobile) {
		height: 100%;
	}
}

header {
	width: 100%;
	max-width: $max-pagewidth;
	padding: $line-height !important;
	position: fixed;
	top: 0;

	@media only screen and (max-width: $mobile) {
		padding: $line-height*0.7 !important;
	}
}

// custom-bootstrap
.row {
	margin: 0 -$img-padding-desktop !important;
	margin-top: -$img-padding-desktop !important;

	@media only screen and (max-width: $mobile) {
		margin: 0 -$img-padding-mobile !important;
		margin-top: -$img-padding-mobile !important;
	}

	.col-xl-4.col-md-6 {
		padding: $img-padding-desktop !important;
		display: flex;
		align-items: center; //vertical centering
		
		@media only screen and (max-width: $mobile) {
			padding: $img-padding-mobile !important;
		}

		.container-img {
			position: relative;

			.overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
				opacity: 0;
				transition: .3s ease;
				background-color: $link-color-1;
			}
		}
			  
		.container-img:hover .overlay {
			opacity: 1;
		}

		.text {
			color: black;
			font-size: 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;

			a {
				color: #F5F5F5 !important;
			}
		}

		img {
			width: 100%;
		}
	}
}


// landing page style
.img_landing {
	padding-top: 10vh;

	img {
		height: 125px !important; // logo size
		display: block;
		margin-left: auto;
		margin-right: auto;
		
		@media only screen and (max-width: $mobile) {
			height: 125px !important; // logo size mobile
		}
	}
}

.button_landing {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 24vh 0;

	@media only screen and (max-width: $mobile) {
		margin: 20vh 0;
	}

	a {
		margin: 8vh 0;

		p {
			text-align: center;
			text-transform: uppercase;
			font-size: 15px !important;
			font-weight: bold !important; 
	
			// buttons
			width: 100px;
			background-color: #ffffff;
			border-radius: 30px;
			padding: 3px 8px;
			margin: auto;
			transition-duration: 0.3s;
			
		}

		p:hover {
			background-color: #000000;
			color: #ffffff;
		}
	}
}
