// typeface
@font-face {
	font-family: Arial, Helvetica, sans-serif;
	src: url('../assets/fonts/xxxx.ttf'),
}

// opentype features
.case-sentitive {
	text-transform: uppercase;
	font-feature-settings: 'case' on;
	-moz-font-feature-settings: 'case'; 
	-webkit-font-feature-settings: 'case'; 
}

.standard-ligatures {
	font-variant-ligatures: common-ligatures;
	font-feature-settings: 'liga' on;
	-moz-font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
}

// variables-font
$font-stack: Arial, sans-serif;
$text-size: 22px;
$text-size-mobile: 17px;

// variables-grid
$line-height: 26px; //unit of measure_height
$line-height-mobile: 22px; //unit of measure_height

$max-pagewidth: 2800px;
$max-textwidth: 710px;

$img-padding-desktop: 70px;
$img-padding-mobile: 10px;

// variables-resize
$mobile: 590px;
$tablet: 1024px;

// colors
$text-color: #000000;
$link-color-1: #000000;
$link-color-2: #ffffff;

// root-element
html, body {
	font-family: $font-stack !important;
	font-kerning: normal;
	word-spacing: 0.001em;

	@media only screen and (max-width: $mobile) {
		height: 100%;
	}

	::-webkit-scrollbar {
        display: none;
    }
}

body {
	margin: auto !important;
	max-width: $max-pagewidth;
	//overflow-x: hidden;
}

h1, p, a, strong {
	font-size: $text-size !important;
	font-weight: normal !important;
	// color: $text-color;
	margin-bottom: 0 !important;
	line-height: $line-height !important;
	display: block;
	// grid
	// box-shadow: inset 0 0 2px #000000;

	@media only screen and (max-width: $mobile) {
		font-size: $text-size-mobile !important;
		line-height: $line-height-mobile !important;
	}
}

a {
	color: $text-color !important;

	&:hover {
		text-decoration: none !important;
		color: $link-color-1 !important;
	}
}

// start-content
#page-container {
	position: relative;

	@media only screen and (max-width: $mobile) {
		height: 100%;
	}
}

header {
	width: 100%;
	max-width: $max-pagewidth;
	padding: $line-height !important;
	position: fixed;
	top: 0;

	@media only screen and (max-width: $mobile) {
		padding: $line-height*0.7 !important;
	}
}

.container-article {
	width: auto;
	margin: auto;
	padding: 0;
	
	@media only screen and (max-width: $mobile) {
		padding: 0 !important;
		height: 100%;
	}

	.article-title {
		padding-top: 0 !important;

		@media only screen and (max-width: $mobile) {
			height: 100%;
		}

		p {
			max-width: $max-textwidth;
			margin: auto;
		}

		a {
			display: inline-block;
		}
	}
}

.article-text {
	max-width: $max-textwidth;
	margin: auto;
	margin-top: $line-height;

	.link-inline {
		display: inline-block;
	}

	a {
		display: inline-block;
	}
}

.nav-sotto {
	padding-top: $line-height*4;
	position: fixed;
	
	@media only screen and (max-width: $mobile) {
		position: static;
		padding-top: 0;
	}

	p {
		margin-top: $line-height !important;
	}
}

// navigation
.nav {
	display: block !important;

	@media only screen and (max-width: $mobile) {
		padding: 15px 18px !important;
	}
}

.nav-top {

	.nav-left {
		display: inline-block;
		width: 50%;
		text-align: left;
		float: left;

		a {
			width: max-content;
			float: initial;
		}
	}

	.nav-right {
		display: inline-block;
		width: 50%;
		text-align: right;

		a {
			width: auto;
			float: initial;
		}
	}
}

// navigation dropdown
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	//z-index: 1;

	&.right-side {
		right: 0;
	}

	a:hover {
		text-decoration: underline !important;
	}
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover {
	text-decoration: underline;
}

.background-dropdown {
	width: 100vw;
    height: 100%;
    position: fixed;
    background-color: white;
    left: 0;
    opacity: 0.5;
	z-index: -5;
	top: 0;
}

// custom-bootstrap
.row {
	margin: 0 -$img-padding-desktop !important;
	margin-top: -$img-padding-desktop !important;

	@media only screen and (max-width: $mobile) {
		margin: 0 -$img-padding-mobile !important;
		margin-top: -$img-padding-mobile !important;
	}

	.col-xl-4.col-md-6 {
		padding: $img-padding-desktop !important;
		display: flex;
		align-items: center; //vertical centering
		
		@media only screen and (max-width: $mobile) {
			padding: $img-padding-mobile !important;
		}

		.container-img {
			position: relative;

			.overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
				opacity: 0;
				transition: .3s ease;
				background-color: $link-color-1;
			}
		}
			  
		.container-img:hover .overlay {
			opacity: 1;
		}

		.text {
			color: black;
			font-size: 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;

			a {
				color: #F5F5F5 !important;
			}
		}

		img {
			width: 100%;
		}
	}
}

// Homepage-slider
.swiper-container {
    width: auto;
    height: 100%;
	margin: 0 auto;
}

.swiper-slide {
	text-align: center;
	background-color: white;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide {

	&.swiper-slide-prev {
		height: 100vh;

		@media only screen and (max-width: $mobile) {
			height: 100%;
		}
	}
	&.swiper-slide-active {
		height: 100vh;

		@media only screen and (max-width: $mobile) {
			height: 100%;
		}
	}
	&.swiper-slide-next {
		height: 100vh;

		@media only screen and (max-width: $mobile) {
			height: 100%;
		}
	}
}

.full-page-img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	//max-height: 100vh;

	@media only screen and (max-width: $mobile) {
		max-width: 100vw;
		height: auto;
		margin: 0 auto;
	}
}

.swiper-button-next, .swiper-button-prev {
	background-color: transparent;
	margin-top: 0 !important;
	width: 50% !important;
	height: 100vh !important;
	top: 0 !important;
	outline: none; //hide blue border

	@media only screen and (max-width: $mobile) {
		max-height: 100%;
	}
}

.swiper-button-next {
	cursor: e-resize !important; //IE browser
	cursor: url(../assets/cur/arrow-ri-x1.png), auto !important; //Firefox and img-set no support
	cursor: -webkit-image-set(url(../assets/cur/arrow-ri-x1.png) 1x, url(../assets/cur/arrow-ri-x2.png) 2x), auto !important;
	right: 0 !important;
}

.swiper-button-prev {
	cursor: w-resize !important; //IE browser
	cursor: url(../assets/cur/arrow-le-x1.png), auto !important; //Firefox and img-set no support
	cursor: -webkit-image-set(url(../assets/cur/arrow-le-x1.png) 1x, url(../assets/cur/arrow-le-x2.png) 2x), auto !important;
	left: 0 !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
	/* Arrow hidden */
	content: none !important;
}

.swiper-pagination-fraction {
	bottom: 20px !important;
}

// Text-change color
[data-bg=light] {
	color: black !important;
	
	a {
		color: $link-color-1 !important;
	
		&:hover {
			text-decoration: underline !important;
		}
	}
}
  
[data-bg=dark] {
	color: $link-color-2 !important;
	
	a {
		color: $link-color-2 !important;
	
		&:hover {
			text-decoration: underline !important;
		}
	}
}
  
.clipper {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
	right: 0;
	z-index: 100;
}
  
.content {
    // position: fixed;
	padding: $line-height !important;

	@media only screen and (max-width: $mobile) {
		padding: 0 !important;
	}
}
  
.container-img {
	width: 100%;
	height: 100%;
	max-height: 100vh;

	@media only screen and (max-width: $mobile) {
		display: contents;
		max-height: 100%;
	}

	.clipper {
		visibility: visible;
	}
}

// Mobile
.mobile-display {
	display: none !important;

	@media only screen and (max-width: $mobile) {
		display: inline-block !important;
		width: 100vw;
		height: 100%;
	}

	.swiper-pagination {
		width: 100vw;
	}
}

.desktop-display {

	@media only screen and (max-width: $mobile) {
		display: none !important;
	}
}

.hidden-homepage {
	display: none !important;
}

#content-wrap {

	@media only screen and (max-width: $mobile) {
		height: 100%;
	}
}

.hidden-bg {
	display: none !important;
}

.dropdown:hover .hidden-bg {
	
	@media only screen and (min-width: $mobile) {
		display: block !important;
	}
}
